{{#if showHeader}}
  {{as-calendar/header
    title=title
    model=model
    onNavigateWeek=(action "onNavigateWeek")}}
{{/if}}

{{#as-calendar/timetable
  model=model
  timeSlotHeight=timeSlotHeight
  onSelectTime=(action "addOccurrence") as |day timetable|}}
  <ul class="occurrences">
    {{#each day.occurrences as |occurrence|}}
      <li>
        {{#if hasBlock}}
          {{yield (hash
            model=occurrence
            occurrence=(component 'as-calendar/timetable/occurrence'
              day=day
              model=occurrence
              timetable=timetable
              timeSlotHeight=timeSlotHeight
              timeSlotDuration=timeSlotDuration
              onUpdate=(action this.attrs.onUpdateOccurrence)
              onRemove=(action this.attrs.onRemoveOccurrence))
            staticOccurrence=(component 'as-calendar/occurrence'
              day=day
              model=occurrence
              timeSlotHeight=timeSlotHeight
              timeSlotDuration=timeSlotDuration)
          )}}
        {{else}}
          {{as-calendar/timetable/occurrence
            model=occurrence
            timeSlotHeight=timeSlotHeight
            day=day
            timetable=timetable
            timeSlotDuration=timeSlotDuration
            onUpdate=(action this.attrs.onUpdateOccurrence)
            onRemove=(action this.attrs.onRemoveOccurrence)}}
        {{/if}}
      </li>
    {{/each}}

    {{#if day.occurrencePreview}}
      <li>
        {{as-calendar/occurrence
          class="as-calendar-occurrence--preview"
          model=day.occurrencePreview
          day=day
          timeSlotHeight=timeSlotHeight
          timeSlotDuration=timeSlotDuration}}
      </li>
    {{/if}}
  </ul>
{{/as-calendar/timetable}}
