<h1 class="as-calendar-header__title">{{title}}</h1>

{{yield this}}

<nav class="as-calendar-header__nav">
  <ul class="as-calendar-header__nav-group">

    <li class="as-calendar-header__nav-group-item">
      {{#if backButton}}
        {{backButton onClick=(action "navigateWeek" -1)}}
      {{else}}
        <button class="as-calendar-header__nav-group-action" {{action "navigateWeek" -1}}>&#x25c0;</button>
      {{/if}}
    </li>

    <li class="as-calendar-header__nav-group-item">
      {{#if todayButton}}
        {{todayButton onClick=(action "goToCurrentWeek")}}
      {{else}}
        <button disabled={{isInCurrentWeek}}
          class="as-calendar-header__nav-group-action as-calendar-header__nav-group-action--current-week"
          {{action "goToCurrentWeek"}}>This Week</button>
      {{/if}}
    </li>

    <li class="as-calendar-header__nav-group-item">
      {{#if nextButton}}
        {{nextButton onClick=(action "navigateWeek" 1)}}
      {{else}}
        <button class="as-calendar-header__nav-group-action" {{action "navigateWeek" 1}}>&#x25ba;</button>
      {{/if}}
    </li>
  </ul>
</nav>
